.LightSettings {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}

.LightSettings-card {
  background: var(--gray700);
  color: white;
  min-height: 33.333vh;
  width: 100%;
  max-width: 480px;
  transition: transform 500ms;
  transform: translateY(100%);
  pointer-events: all;
  display: flex;
  flex-flow: column nowrap;
}

.LightSettings-card.is-visible {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .LightSettings-card {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

.LightSettings-card-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.LightSettings-card-controls {
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;
  gap: 32px;
}
