.Button {
  background: transparent;
  color: inherit;
  fill: inherit;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;

  padding: 0 16px;
  height: 48px;

  border: none;
  border-radius: 24px;

  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}

.Button.mod-icon {
  padding-left: 12px;
}

.Button.mod-icon:not(.mod-text) {
  padding-right: 12px;
}

.Button.mod-raised {
  color: var(--white);
  background: #404040;

  box-shadow: 0 4px 12px var(--black-a12);
}

.Button-icon {
  fill: var(--white);
  width: 1.5rem;
  height: 1.5rem;
}
