.Light {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  border: solid 2px var(--gray300);
  border-radius: 50%;

  box-shadow: 0 4px 12px var(--black-a12);
}