.Switch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.Switch-track {
  width: 36px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--black-a12);
  position: relative;
  transition: background-color 100ms ease;
}

.Switch-track.is-checked {
  background-color: var(--white-a30);
}

.Switch-track-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--gray500);
  position: absolute;
  left: 0;

  transition: 100ms ease;
  transition-property: transform, left, background-color;
}

.Switch-track-button.is-checked {
  background-color: var(--gray100);
  left: 100%;
  transform: translateX(-100%);
}

.Switch-checkbox {
  display: none;
}
