@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url("./components/Button.css");
@import url("./components/Icon.css");
@import url("./components/Light.css");
@import url("./components/Modal.css");
@import url("./components/Switch.css");

@import url("./islands/AddLightButton.css");
@import url("./islands/LightSettings.css");
@import url("./islands/Radar.css");

:root {
  --white: #ffffff;
  --gray100: #e8e8e8;
  --gray200: #d1d1d1;
  --gray300: #b8b8b8;
  --gray500: #808080;
  --gray700: #404040;
  --black: #000000;

  --black-a12: rgba(0, 0, 0, 0.12);
  --white-a30: rgba(255, 255, 255, 0.3);
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  list-style: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: inherit;
  font-size: inherit;

  list-style: inherit;
}

/* TODO Use grid areas to place children in specific cells */
.Dashboard {
  display: grid;
  grid-template-rows: auto 48px;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  gap: 24px;
}

.Dashboard-addLightButton {
  justify-self: center;
}
